
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f6eaff;
    color: #0c0015;
    min-height: 100vh; /* Ensure the body fills the entire viewport height */
    padding-top: 60px; /* Space for fixed header */
    padding-bottom: 60px; /* Space for fixed footer */
    position: relative; /* Set body to relative positioning for absolute footer */
  }

  header {
    background-color: #34005b;
    color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px; /* Padding for inner spacing */
  }

  .logo {
    font-size: 1.5rem;
  }

  .menuList {
    list-style-type: none;
    display: flex;
  }

  .menuList li {
    margin-right: 30px;
  }

  .menuList a {
    color: #f8f8f8;
    font-size: 1.2em;
    text-decoration: none;
  }

  .menuIcon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
  }

  footer {
    background-color: #34005b;
    color: #f8f8f8;
    padding: 10px 0;
    text-align: left; /* Align footer text to the left */
    display: flex;
    justify-content: flex-start; /* Align footer items to the left */
    align-items: center;
    margin: 0 auto; /* Center footer */
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footerside {
    display: flex;
    align-items: center;
  }

  .footerside ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .footerside ul li {
    margin: 0 10px;
  }

  .footerside a {
    color: #f8f8f8;
  }

  section {
    margin: 0 50px; /* Add 50px margin to left and right */
  }

  .about-container {
    display: flex;
    flex-direction: column; /* Default to column for smaller screens */
  }

  .about-text {
    flex: 1; /* Allow text to take available space */
  }

  .hobbies {
    margin-left: 20px; /* Space between text and hobbies */
  }
  .hobbies {
    margin-bottom: 50px;
  }
  section ul {
      margin-bottom:30px ;
    }

  @media screen and (max-width: 568px) {
   
    header .menuIcon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    header .menuIcon span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: white;
      border-radius: 2px;
      transition: all 0.3s;
    }

    header .menuIcon span:nth-child(1) {
      transform-origin: top left;
    }
    header .menuIcon span:nth-child(3) {
      transform-origin: top right;
    }
    header .menuIcon.active span:nth-child(1) {
      transform: rotate(45deg) translate(16px, -2px);
    }
    header .menuIcon.active span:nth-child(2) {
      opacity: 0;
    }
    header .menuIcon.active span:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -3px);
    }
    .menuIcon {
      display: block;
    }

    .menuList.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 69px;
      right: 0;
      width: 50%;
      background-color: #34005bdc;
      padding: 10px 0;
      font-size: 11px;
    }

    .menuList.active li {
      text-align: center;
      margin: 15px 0; /* Increase margin for spacing between items */
    }
    .menuList {
      display: none;
    }
    .logo {
      font-size: 20px;
      margin-left: -20px;
      font-weight: bold;
    }
    nav {
      height: 69px;
    }
    h1 {
      margin-top: 50px;
      text-align: center;
    }
    h2{
      text-align: center; 
      margin-top: -10px;
    }
    section{
      margin: 10px;
    }
    section li {
      font-size: 12px;
      margin-left: -17px;
    }
    p {
      font-size: 12px;
      padding-right: -150px;
      padding-bottom: 35px;
    }
    .footerside ul{
      display: block;
    }
    .footerside p{
      margin-top: 20px;
      margin-left: 30px;
    }
    footer{
      height: 62px;
      
    }
    footer p{
      margin-top:20px ;
      margin-right: -10px;
    }
    .footerside ul {
      flex-direction: row; /* Change to row for small screens */
      margin-left: 10px; /* Add margin to separate from the text */
      display: block;
    }
    .footerside li {
      font-size: 11px;
    }
  }
  @media (min-width: 800px) and (max-width: 900px) {

    header .menuIcon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }
  
    header .menuIcon span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: white;
      border-radius: 2px;
      transition: all 0.3s;
    }
  
    header .menuIcon span:nth-child(1) {
      transform-origin: top left;
    }
    header .menuIcon span:nth-child(3) {
      transform-origin: top right;
    }
    header .menuIcon.active span:nth-child(1) {
      transform:rotate(45deg) translate(16px, -2px);
    }
    header .menuIcon.active span:nth-child(2) {
      opacity: 0;
    }
    header .menuIcon.active span:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -3px);
    }
    .HomeBody {
      flex-direction: column;
    }
    .menuList {
      display: none;
    }
  
    .menuIcon {
      display: block;
    }
  
    .menuList.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 69px;
      right: 0;
      width: 25%;
      background-color: #34005bce;
    }
  
    .menuList.active li {
      text-align: center;
      margin: 10px 0;
    }
    header{
        height: 140px;}
    .logo {
        font-weight: bold;
        font-size: 40px;
         margin-right: 550px;
         
          }
     footer {
            height: 140px;
          }
          h1 {
            margin-top: 130px;
            font-size: 40px;
            text-align: center;
          }
    p {
            font-size: 24px;
          }
     section p{
            margin-bottom: 100px;
          }
     nav {
            font-size: 140px;
          }
    li {
            font-size: 20px;
          }
          .hobbies{
            margin-top: -150px;
          }
  }

  @media (min-width: 801px) and (max-width: 1280px) {
    .menuList {
      font-size: 20px;
    }
    header {
      height: 140px;
    }
    nav {
      margin-top: 40px;
    }
    section {
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center align items */
      padding: 20px; /* Adjust padding */
    }
    .logo {
      font-size: 40px;
      font-weight: bold;
    }
    h1 {
      margin-top: 130px;
      font-size: 40px;
      text-align: center;
    }
    h2 {
      font-size: 40px;
      margin-bottom: -3px;
      margin-left: -10px;
      margin-top: 130px;
      text-align: center;
    }

    p {
      font-size: 24px;
      margin: -30px 50px;
    }

    li {
      font-size: 20px;
    }
    .hobbies li{
      font-size: 24px ;
    }
    footer p{
      font-size: 24px;
      margin: 0 8px;
    }
    footer li {
      font-size: 20px;
    }
    footer {
      height: 140px;
    }
  }

  @media screen and (min-width: 1281px) {
    header{
      height: 140px;
    }
   
    .about-container {
      flex-direction: row;
      margin-top: 100px;
      
    }
h1, h2{
font-size: 48px;
}
    .about-text {
      max-width: 60%; /* Limit width of the about text */
    }

    .hobbies {
      max-width: 30%;
      margin-right: 0px;
      padding-right: 130px;
    }
    .logo {
      font-size: 48px;
      font-weight: bold;
    }
    .menuList {
      font-size: 32px;
    }
    p {
      font-size: 32px;
    }
    li {
      font-size:32px;
    }
     footer li {
      font-size: 24px;
    }
     footer {
      height: 140px;
    }
  }
